<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>Welcome to Car Rental</h1>
    {% for n in list %}
    <h1>{{n}}</h1>
    {% endfor %}
    <table border="2">
        <tr>
            <th>NaME</th>
            <th>ClASS</th>
        </tr>
        
            {% for a in dict %}
            <tr>
            <td>{{a.n}}</td>
            <td>{{a.m}}</td>
            </tr>
            {% endfor %}
      
    </table>

</body>
</html>
