{% extends "admindash.html" %}
{% load static %}

{% block content %}
<div class="row  overflow-auto">
    <div class="col-sm-12 p-5 table-responsive">
        <div style="text-align:center;padding:10px; font-size:25px"><u> MANAGE BOOKING </u></div>
        <table class="table table-responsive table-bordered" id="example" style="box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);">
            <thead>
                <tr >
                    <th style="background-color:rgb(145, 147, 184); color: white;">Car</th>
                    <th style="background-color:rgb(145, 147, 184); color: white;">USer</th>
                    <th style="background-color:rgb(145, 147, 184); color: white;">start D.</th>
                    <th style="background-color:rgb(145, 147, 184); color: white;">End D.</th>
                    <th style="background-color:rgb(145, 147, 184); color: white;">Payment Status</th>
                    <th style="background-color:rgb(145, 147, 184); color: white;">Action</th>  
                </tr>
            </thead>
            <tbody>
                {% for n in bata %}
                <tr>
                   
                    <td>{{n.car}}</td>
                    <td>{{n.user}}</td>
                    <td>{{n.start}}</td>
                    <td>{{n.end}}</td>
                    <td>{{n.payment_status}}</td>
                    <td><a href="{% url 'deletemanagebk' n.id %}"><i class="fa-solid fa-trash" style="color: #ff0000;"></i></a></td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
 </div>

{% endblock %} 