{% extends "admindash.html" %}
{% load static %}

{% block content %}
<div class="row  overflow-auto">
    <div class="col-sm-12 p-5 table-responsive">
        <div style="text-align:center;padding:10px; font-size:25px"><u>REGISTER USERS</u></div>
        <table class="table table-responsive table-bordered" id="example">
            <thead>
                <tr >
                    <th style="background-color:#8EB47F ; color: white;">NAME </th>
                    <th style="background-color:#8EB47F ; color: white;">USEREMAIL</th>
                    <th style="background-color:#8EB47F ; color: white;">PHONE_NO</th>
                    <th style="background-color:#8EB47F ; color: white;">Action</th>  
                </tr>
            </thead>
            <tbody>
                {% for p in show %}
                <tr>
                   
                    <td>{{p.name}}</td>
                    <td>{{p.useremail}}</td>
                    <td>{{p.phone_number}}</td>
                    <td>
                         <a href="{% url 'deletereg' p.useremail %}"><i class="fa-solid fa-trash" style="color: #ff0000;"></i></a>

                    </td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
 </div>

{% endblock %} 